# Step 1: Data cleaning and merge

In [2]:
import numpy as np
import pandas as pd
#import omdb

import matplotlib.pyplot as plt
import matplotlib.patches as mpatches

In [3]:
movies = pd.read_csv('data/movies.csv')
emmy = pd.read_csv('data/the_emmy_awards.csv')
oscar = pd.read_csv('data/the_oscar_award.csv')
movies_b = pd.read_csv('data/MoviesOnStreamingPlatforms.csv')
type_amazon= pd.read_csv('data/amazon_prime_titles.csv')
type_netflix = pd.read_csv('data/netflix_titles.csv')

In [4]:
#only load values that matches the title values from movies
all_titles_in_movies = movies['Title'].unique()

In [5]:
#np.where(all_titles_in_movies == 'The First King')
all_titles_in_movies.size

14858

In [6]:
#dowload this file from https://datasets.imdbws.com/
title_info = pd.DataFrame()
chunksize = 10 ** 5
for chunk in pd.read_csv("data/title.basics.tsv", delimiter='\t', chunksize=chunksize):
    #title_info=title_info.append (chunk)
    title_info=title_info.append (chunk[chunk.originalTitle.isin(all_titles_in_movies)])

In [7]:
#Checking for the number of unique values for each columns. 
#note that the title column has duplicate values. 
movies.nunique(axis=0)

Unnamed: 0            24664
ID                    24664
Title                 14858
Year                    109
Rating                    5
IMDb                     87
Rotten Tomatoes          85
Genre                    14
Netflix                   2
Amazon Prime Video        2
dtype: int64

In [8]:
#checking for non null values to identity columns that are can be potentially removed.
#the ratings column has a high number of null values, but this column is essential for our analysis.
#so will look to fill the null values with values from other sources

movies.isnull().sum()

Unnamed: 0                0
ID                        0
Title                     0
Year                      0
Rating                14635
IMDb                    420
Rotten Tomatoes           0
Genre                     0
Netflix                   0
Amazon Prime Video        0
dtype: int64

In [9]:
movies.head()

,Unnamed: 0,ID,Title,Year,Rating,IMDb,Rotten Tomatoes,Genre,Netflix,Amazon Prime Video
0,0,1,Terminator: Dark Fate,2019,18+,6.2,81,Action & Adventure,0,1
1,1,2,Gemini Man,2019,13+,5.7,74,Action & Adventure,0,1
2,2,3,Rambo: Last Blood,2019,18+,6.1,72,Action & Adventure,0,1
3,3,4,The Courier,2019,18+,4.9,50,Action & Adventure,0,1
4,4,5,Crawl,2019,18+,6.1,79,Action & Adventure,0,1

In [10]:
#identifying the duplicate title values. The number of duplicate rows match when added with the
# values of the number of titles availale. 9806+14858 = 24664
movies.loc[movies.Title.duplicated(),['ID','Title']]

          ID                                    Title
105      106         Love Live! The School Idol Movie
110      111  The Stolen Princess: Ruslan and Ludmila
132      133                       Maya the Bee Movie
136      137                       Ernest & Celestine
252      253                I'll See You in My Dreams
...      ...                                      ...
24654  24655                                  S Storm
24658  24659                         Hole in the Wall
24659  24660                               Mama's Boy
24661  24662                An Unremarkable Christmas
24663  24664                      A Very Special Drew

[9806 rows x 2 columns]

In [11]:
#checking to see why the titles are duplicated.
#observed that the rows are duplicated to record the multiple genre the film belongs to or
#if the movie is offered in netflix and amazon. 
movies.loc[movies['Title'].str.contains('The Stolen Princess: Ruslan and Ludmila', na=False)]

,Unnamed: 0,ID,Title,Year,Rating,IMDb,Rotten Tomatoes,Genre,Netflix,Amazon Prime Video
38,38,39,The Stolen Princess: Ruslan and Ludmila,2018,NaN,6.1,56,Animation,0,1
110,110,111,The Stolen Princess: Ruslan and Ludmila,2018,NaN,6.1,56,Comedy,0,1
3949,3949,3950,The Stolen Princess: Ruslan and Ludmila,2018,NaN,6.1,56,Action & Adventure,0,1

In [12]:
#checking to see the the year range for which the titles are avaiable 
sorted(movies.Year.unique())

[1912,
 1913,
 1915,
 1916,
 1917,
 1918,
 1919,
 1920,
 1921,
 1922,
 1923,
 1924,
 1925,
 1926,
 1927,
 1928,
 1929,
 1930,
 1931,
 1932,
 1933,
 1934,
 1935,
 1936,
 1937,
 1938,
 1939,
 1940,
 1941,
 1942,
 1943,
 1944,
 1945,
 1946,
 1947,
 1948,
 1949,
 1950,
 1951,
 1952,
 1953,
 1954,
 1955,
 1956,
 1957,
 1958,
 1959,
 1960,
 1961,
 1962,
 1963,
 1964,
 1965,
 1966,
 1967,
 1968,
 1969,
 1970,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 2021]

In [13]:
emmy.nunique(axis=0)

id          21503
year           71
category     1333
nominee      5627
staff       15735
company       247
producer     1273
win             2
dtype: int64

In [14]:
emmy.isnull().sum()

id              0
year            0
category        0
nominee       156
staff          58
company       364
producer    13572
win             0
dtype: int64

In [15]:
emmy[emmy['company'] == 'Netflix']

,id,year,category,nominee,staff,company,producer,win
3,4,2019,Outstanding Character Voice-Over Performance,F Is For Family,"Kevin Michael Richardson, as Rosie",Netflix,Wild West Television in association with Gaumo...,False
6,7,2019,Outstanding Production Design For A Narrative ...,Ozark,"Derek R. Hill, Production Designer; John Richa...",Netflix,Media Rights Capital,False
7,8,2019,Outstanding Production Design For A Narrative ...,The Umbrella Academy,"Mark Worthington, Production Designer; Mark St...",Netflix,UCP,False
11,12,2019,Outstanding Production Design For A Narrative ...,A Series Of Unfortunate Events,"Bo Welch, Production Designer; Don MacAulay, A...",Netflix,A Netflix Original Production,False
17,18,2019,"Outstanding Production Design For A Variety, R...",Queer Eye,"Thomas Rouse, Production Designer",Netflix,"Scout Productions, Inc. and ITV Entertainment,...",False
19,20,2019,Outstanding Production Design For A Variety Sp...,Homecoming: A Film By Beyoncé,"Ric Lipson, Production Designer; Rachel Duncan...",Netflix,Parkwood Entertainment,False
23,24,2019,Outstanding Casting For A Comedy Series,Russian Doll,"Christine Kromer, CSA, Casting by",Netflix,Universal Television in association with Jax M...,False
26,27,2019,Outstanding Casting For A Drama Series,Ozark,"Alexa L. Fogel, CSA, Casting by; Tara Feldstei...",Netflix,Media Rights Capital,False
46,47,2019,Outstanding Cinematography For A Nonfiction Pr...,Our Planet,"Doug Anderson, Director of Photography; Gavin ...",Netflix,Silverback Films,False
47,48,2019,Outstanding Cinematography For A Nonfiction Pr...,Our Planet,"Alastair MacEwen, Director of Photography; Mat...",Netflix,Silverback Films,False
48,49,2019,Outstanding Cinematography For A Nonfiction Pr...,Our Planet,"Jamie McPherson, Director of Photography; Roge...",Netflix,Silverback Films,False
49,50,2019,Outstanding Cinematography For A Reality Program,Queer Eye,"Garrett Rose, Director of Photography",Netflix,"Scout Productions, Inc. and ITV Entertainment,...",False
54,55,2019,Outstanding Period Costumes,GLOW,"Beth Morgan, Costume Designer; Alexandra Casey...",Netflix,A Netflix Original Series in association with ...,False
57,58,2019,Outstanding Contemporary Costumes,Grace And Frankie,"Allyson B. Fanger, Costume Designer; Kristine ...",Netflix,Skydance Productions,False
61,62,2019,"Outstanding Costumes For Variety, Nonfiction O...",Homecoming: A Film By Beyoncé,"Marni Senofonte, Costume Designer; Olivier Rou...",Netflix,Parkwood Entertainment,False
79,80,2019,"Outstanding Directing For A Limited Series, Mo...",When They See Us,"Ava DuVernay, Directed by",Netflix,"Participant Media, Tribeca Productions, Harpo ...",False
86,87,2019,Outstanding Directing For A Variety Special,Homecoming: A Film By Beyoncé,"Beyoncé Knowles-Carter, Directed by; Ed Burke,...",Netflix,Parkwood Entertainment,False
88,89,2019,Outstanding Directing For A Documentary/Nonfic...,FYRE: The Greatest Party That Never Happened,"Chris Smith, Directed by",Netflix,"Jerry Media, Library Films, Matte Projects and...",False
95,96,2019,Outstanding Single-Camera Picture Editing For ...,Ozark,"Cindy Mollo, ACE, Editor; Heather Goodwin Floy...",Netflix,Media Rights Capital,False
100,101,2019,Outstanding Single-Camera Picture Editing For ...,Russian Doll,"Laura Weinberg, Editor",Netflix,Universal Television in association with Jax M...,False
121,122,2019,Outstanding Hairstyling For A Single-Camera Se...,GLOW,"Theraesa Rivers, Department Head Hairstylist; ...",Netflix,A Netflix Original Series in association with ...,False
131,132,2019,Outstanding Original Interactive Program,You Vs. Wild,"Rob Buchta, Executive Producer; Bear Grylls, E...",Netflix,Electus and Bear Grylls Ventures,False
145,146,2019,Outstanding Main Title Design,Conversations With A Killer: The Ted Bundy Tapes,"Lisa Bolan, Creative Director; Peter Murphy, A...",Netflix,A Radical Media Production in association with...,False
157,158,2019,Outstanding Music Composition For A Series (Or...,House of Cards,"Jeff Beal, Music by",Netflix,Donen/Fincher/Roth and Trigger Street Producti...,False
162,163,2019,Outstanding Music Composition For A Limited Se...,When They See Us,"Kris Bowers, Music by",Netflix,"Participant Media, Tribeca Productions, Harpo ...",False
164,165,2019,Outstanding Music Direction,Homecoming: A Film By Beyoncé,"Beyoncé Knowles-Carter, Music Direction by; De...",Netflix,Parkwood Entertainment,False
175,176,2019,Outstanding Original Main Title Theme Music,Our Planet,"Steven Price, Theme by",Netflix,Silverback Films,False
179,180,2019,Outstanding Lead Actor In A Comedy Series,The Kominsky Method,"Michael Douglas, as Sandy Kominsky",Netflix,Warner Bros. Television,False
181,182,2019,Outstanding Lead Actor In A Drama Series,Ozark,"Jason Bateman, as Martin 'Marty' Byrde",Netflix,Media Rights Capital,False
186,187,2019,Outstanding Supporting Actor In A Limited Seri...,When They See Us,"Asante Blackk, as Kevin Richardson",Netflix,"Participant Media, Tribeca Productions, Harpo ...",False
...,...,...,...,...,...,...,...,...
3299,3300,2014,Outstanding Comedy Series,Orange Is The New Black,"Jenji Kohan, Executive Producer; Sara Hess, Co...",Netflix,NaN,False
3384,3385,2014,Exceptional Merit In Documentary Filmmaking,Brave Miss World,"Cecilia Peck, Produced by; Motty Reif, Produce...",Netflix,NaN,False
3396,3397,2014,Outstanding Casting For A Comedy Series,Orange Is The New Black,"Jennifer Euston, Casting Director",Netflix,NaN,True
3400,3401,2014,Outstanding Casting For A Drama Series,House of Cards,"Laray Mayfield, Casting Director; Julie Schube...",Netflix,Donen/Fincher/Roth and Trigger Street Producti...,False
3429,3430,2014,Outstanding Cinematography For A Single-camera...,House of Cards,"Igor Martinovic, Director of Photography",Netflix,Donen/Fincher/Roth and Trigger Street Producti...,False
3434,3435,2014,Outstanding Cinematography For Nonfiction Prog...,The Square,"Jehane Noujaim, Director of Photography; Muham...",Netflix,NaN,True
3443,3444,2014,Outstanding Directing For Nonfiction Programming,The Square,"Jehane Noujaim, Directed by",Netflix,NaN,True
3453,3454,2014,Outstanding Documentary Or Nonfiction Special,The Square,"Jodie Evans, Executive Producer; Lekha Singh, ...",Netflix,NaN,False
3519,3520,2014,Outstanding Music Composition For A Series (Or...,House of Cards,"Jeff Beal, Music by",Netflix,Donen/Fincher/Roth and Trigger Street Producti...,False
3542,3543,2014,Outstanding Picture Editing For Nonfiction Pro...,The Square,"Pedro Kos, Edited by; Christopher de la Torre,...",Netflix,NaN,True
3572,3573,2014,Outstanding Single-camera Picture Editing For ...,Orange Is The New Black,"William Turro, Editor",Netflix,NaN,True
3573,3574,2014,Outstanding Single-camera Picture Editing For ...,Orange Is The New Black,"Michael S. Stern, Edited by",Netflix,NaN,False
3574,3575,2014,Outstanding Single-camera Picture Editing For ...,Orange Is The New Black,"Shannon Mitchell, Edited by",Netflix,NaN,False
3579,3580,2014,Outstanding Single-Camera Picture Editing For ...,House of Cards,"Byron Smith, Editor",Netflix,Donen/Fincher/Roth and Trigger Street Producti...,False
3611,3612,2014,Outstanding Sound Mixing For A Comedy Or Drama...,House of Cards,"Lorenzo Millan, Production Mixer; Nathan Nance...",Netflix,Donen/Fincher/Roth and Trigger Street Producti...,True
3680,3681,2014,Outstanding Art Direction For A Contemporary O...,House of Cards,"Steve Arnold, Production Designer; Halina Geba...",Netflix,Donen/Fincher/Roth and Trigger Street Producti...,False
3742,3743,2013,Outstanding Lead Actress In A Drama Series,House Of Cards,"Robin Wright, as Claire Underwood",Netflix,Donen/Fincher/Roth and Trigger Street Producti...,False
3749,3750,2013,Outstanding Lead Actor In A Drama Series,House Of Cards,"Kevin Spacey, as Francis Underwood",Netflix,Donen/Fincher/Roth and Trigger Street Producti...,False
3783,3784,2013,Outstanding Directing For A Drama Series,House of Cards,"David Fincher, Directed by",Netflix,Donen/Fincher/Roth and Trigger Street Producti...,True
3789,3790,2013,Outstanding Drama Series,House of Cards,"David Fincher, Executive Producer; Joshua Done...",Netflix,Donen/Fincher/Roth and Trigger Street Producti...,False
3801,3802,2013,Outstanding Lead Actor In A Comedy Series,Arrested Development,"Jason Bateman, as Michael Bluth",Netflix,Produced by Imagine TV and 20th Century Fox Te...,False
3965,3966,2013,Outstanding Casting For A Drama Series,House of Cards,"Laray Mayfield, ; Julie Schubert,",Netflix,Donen/Fincher/Roth and Trigger Street Producti...,True
3993,3994,2013,Outstanding Cinematography For A Single-camera...,House of Cards,"Eigil Bryld,",Netflix,Donen/Fincher/Roth and Trigger Street Producti...,True
4118,4119,2013,Outstanding Music Composition For A Series (Or...,House of Cards,"Jeff Beal,",Netflix,Donen/Fincher/Roth and Trigger Street Producti...,False
4119,4120,2013,Outstanding Music Composition For A Series (Or...,Arrested Development,"David Schwartz,",Netflix,Produced by Imagine TV and 20th Century Fox Te...,False
4127,4128,2013,Outstanding Original Main Title Theme Music,House of Cards,"Jeff Beal,",Netflix,Donen/Fincher/Roth and Trigger Street Producti...,False
4129,4130,2013,Outstanding Original Main Title Theme Music,Hemlock Grove,"Nathan W. Barr,",Netflix,Produced by Gaumont International Television f...,False
4172,4173,2013,Outstanding Single-camera Picture Editing For ...,Arrested Development,"Kabir Akhtar, ; A.J. Dickerson,",Netflix,Produced by Imagine TV and 20th Century Fox Te...,False
4177,4178,2013,Outstanding Single-Camera Picture Editing For ...,House of Cards,"Kirk Baxter,",Netflix,Donen/Fincher/Roth and Trigger Street Producti...,False
4242,4243,2013,Outstanding Special Visual Effects,Hemlock Grove,"Chris Jones, ; Jon Massey, ; Sean Joseph Tompk...",Netflix,Produced by Gaumont International Television f...,False

In [16]:
#performing checks to see the number of matches between emmy and movies. 
#movies.loc[movies['Title'].str.contains('Orange Is The New Black', na=False)]
#movies.loc[movies.originalTitle.duplicated(),['originalTitle']]
emmy.loc[((emmy['nominee'].isin(movies['Title'])) & (emmy['company'] == 'Netflix'))]

,id,year,category,nominee,staff,company,producer,win
23,24,2019,Outstanding Casting For A Comedy Series,Russian Doll,"Christine Kromer, CSA, Casting by",Netflix,Universal Television in association with Jax M...,False
100,101,2019,Outstanding Single-Camera Picture Editing For ...,Russian Doll,"Laura Weinberg, Editor",Netflix,Universal Television in association with Jax M...,False
193,194,2019,Outstanding Lead Actress In A Comedy Series,Russian Doll,"Natasha Lyonne, as Nadia",Netflix,Universal Television in association with Jax M...,False
317,318,2019,Outstanding Stunt Coordination For A Comedy Se...,Russian Doll,"Christopher Place, Stunt Coordinator",Netflix,Universal Television in association with Jax M...,False
331,332,2019,Outstanding Writing For A Comedy Series,Russian Doll,"Leslye Headland, Teleplay by & Story by; Natas...",Netflix,Universal Television in association with Jax M...,False
332,333,2019,Outstanding Writing For A Comedy Series,Russian Doll,"Allison Silverman, Written by",Netflix,Universal Television in association with Jax M...,False
335,336,2019,Outstanding Writing For A Drama Series,Bodyguard,"Jed Mercurio, Written by",Netflix,World Productions,False
348,349,2019,Outstanding Writing For A Variety Special,Adam Sandler: 100% Fresh,"Adam Sandler, Written by",Netflix,Irwin Entertainment l Happy Madison Productions,False
352,353,2019,Outstanding Writing For A Variety Special,Wanda Sykes: Not Normal,"Wanda Sykes, Written by",Netflix,Push It Productions,False
377,378,2019,Outstanding Music Supervision,Russian Doll,"Brienne Rose, Music Supervisor",Netflix,Universal Television in association with Jax M...,False
451,452,2019,Outstanding Comedy Series,Russian Doll,"Natasha Lyonne, Executive Producer; Leslye Hea...",Netflix,Universal Television in association with Jax M...,False
475,476,2019,Outstanding Variety Special (Pre-Recorded),Hannah Gadsby: Nanette,"Kevin Whyte, Executive Producer; Kathleen McCa...",Netflix,A Netflix Original Production,False
478,479,2019,Outstanding Variety Special (Pre-Recorded),Wanda Sykes: Not Normal,"Wanda Sykes, Executive Producer / Performer; P...",Netflix,Push It Productions,False
481,482,2019,Outstanding Sound Editing For A Comedy Or Dram...,Russian Doll,"Lewis Goldstein, Sound Supervisor; Alex Soto, ...",Netflix,Universal Television in association with Jax M...,False
485,486,2019,Outstanding Sound Mixing For A Comedy Or Drama...,Russian Doll,"Lewis Goldstein, Re-Recording Mixer; Thomas Ry...",Netflix,Universal Television in association with Jax M...,False
513,514,2019,Outstanding Drama Series,Bodyguard,"Jed Mercurio, Executive Producer; Simon Heath,...",Netflix,World Productions,False
559,560,2019,Outstanding Writing For A Variety Special,Hannah Gadsby: Nanette,"Hannah Gadsby, Written by",Netflix,A Netflix Original Production,True
581,582,2019,Outstanding Cinematography For A Single-Camera...,Russian Doll,"Chris Teague, Director of Photography",Netflix,Universal Television in association with Jax M...,True
606,607,2019,Outstanding Contemporary Costumes,Russian Doll,"Jennifer Rogien, Costume Designer; Charlotte S...",Netflix,Universal Television in association with Jax M...,True
613,614,2019,Outstanding Production Design For A Narrative ...,Russian Doll,"Michael Bricker, Production Designer; John Cox...",Netflix,Universal Television in association with Jax M...,True
731,732,2018,"Outstanding Casting For A Limited Series, Movi...",Godless,"Ellen Lewis, CSA, Casting by; Rene Haynes, CSA...",Netflix,A Netflix Original Production,False
753,754,2018,Outstanding Cinematography For A Limited Serie...,Godless,"Steven Meizler, Director of Photography",Netflix,A Netflix Original Production,False
801,802,2018,"Outstanding Directing For A Limited Series, Mo...",Godless,"Scott Frank, Directed by",Netflix,A Netflix Original Production,False
875,876,2018,Outstanding Hairstyling For A Limited Series O...,Godless,"Geordie Sheffer, Department Head Hairstylist; ...",Netflix,A Netflix Original Production,False
942,943,2018,Outstanding Music Composition For A Limited Se...,Godless,"Carlos Rafael Rivera, Music by",Netflix,A Netflix Original Production,False
956,957,2018,Outstanding Original Main Title Theme Music,Godless,"Carlos Rafael Rivera, Theme by",Netflix,A Netflix Original Production,True
974,975,2018,Outstanding Supporting Actor In A Limited Seri...,Godless,"Jeff Daniels, as Frank Griffin",Netflix,A Netflix Original Production,True
995,996,2018,Outstanding Lead Actress In A Limited Series O...,Godless,"Michelle Dockery, as Alice Fletcher",Netflix,A Netflix Original Production,False
1024,1025,2018,Outstanding Supporting Actress In A Limited Se...,Godless,"Merritt Wever, as Mary Agnes",Netflix,A Netflix Original Production,True
1089,1090,2018,Outstanding Limited Series,Godless,"Casey Silver, Executive Producer; Steven Soder...",Netflix,A Netflix Original Production,False
1181,1182,2018,Outstanding Sound Editing For A Limited Series...,Godless,"Wylie Stateman, Co-Supervising Sound Editor; E...",Netflix,A Netflix Original Production,False
1259,1260,2018,"Outstanding Writing For A Limited Series, Movi...",Godless,"Scott Frank, Written by",Netflix,A Netflix Original Production,False
1271,1272,2018,Outstanding Writing For A Variety Special,Patton Oswalt: Annihilation,"Patton Oswalt, Written by",Netflix,Generate,False
1608,1609,2017,Outstanding Music Composition for a Limited Se...,The White Helmets,"Patrick Jonsson, Music by",Netflix,Grain Media / Violet Films,False
1774,1775,2017,Outstanding Variety Special,Louis C.K. 2017,"Louis C.K., Executive Producer/Performer; Dave...",Netflix,"3 Arts Entertainment, JAX Media, Pig Newton, Inc.",False
1801,1802,2017,Outstanding Documentary or Nonfiction Special,Amanda Knox,"Rod Blackhurst, Produced by; Brian McGinn, Pro...",Netflix,Plus Pictures ApS,False
1820,1821,2017,Exceptional Merit in Documentary Filmmaking,The White Helmets,"Joanna Natasegara, Produced by; Orlando von Ei...",Netflix,Grain Media / Violet Films,False
1933,1934,2017,Outstanding Writing for a Variety Special,Louis C.K. 2017,"Louis C.K., Written by",Netflix,"3 Arts Entertainment, JAX Media, Pig Newton, Inc.",False
1937,1938,2017,Outstanding Writing for a Nonfiction Program,Amanda Knox,"Matthew Hamachek, Written by; Brian McGinn, Wr...",Netflix,Plus Pictures ApS,False
2298,2299,2016,Outstanding Music Direction,A Very Murray Christmas,"Paul Shaffer, Music Direction by",Netflix,"American Zoetrope, South Beach Productions, De...",False
2527,2528,2016,Outstanding Television Movie,A Very Murray Christmas,"Sofia Coppola, Executive Producer; Mitch Glaze...",Netflix,"American Zoetrope, South Beach Productions, De...",False
2585,2586,2016,Outstanding Writing For A Variety Special,John Mulaney: The Comeback Kid,"John Mulaney, Written by",Netflix,Irwin Entertainment,False
3434,3435,2014,Outstanding Cinematography For Nonfiction Prog...,The Square,"Jehane Noujaim, Director of Photography; Muham...",Netflix,NaN,True
3443,3444,2014,Outstanding Directing For Nonfiction Programming,The Square,"Jehane Noujaim, Directed by",Netflix,NaN,True
3453,3454,2014,Outstanding Documentary Or Nonfiction Special,The Square,"Jodie Evans, Executive Producer; Lekha Singh, ...",Netflix,NaN,False
3542,3543,2014,Outstanding Picture Editing For Nonfiction Pro...,The Square,"Pedro Kos, Edited by; Christopher de la Torre,...",Netflix,NaN,True

In [17]:
movies.loc[movies['Title'].str.contains('Barry', na=False)]

,Unnamed: 0,ID,Title,Year,Rating,IMDb,Rotten Tomatoes,Genre,Netflix,Amazon Prime Video
896,896,897,Sunshine Barry & the Disco Worms,2008,7+,4.6,27,Family,0,1
2428,2428,2429,Someone Marry Barry,2014,NaN,5.8,57,Comedy,0,1
2869,2869,2870,Sunshine Barry & the Disco Worms,2008,7+,4.6,27,Animation,0,1
8780,8780,8781,The Nine Lives of Marion Barry,2009,7+,7.1,34,Documentary,0,1
14477,14477,14478,Sunshine Barry & the Disco Worms,2008,7+,4.6,27,Comedy,0,1
15428,15428,15429,The Adventures of Barry McKenzie,1972,18+,5.7,39,Comedy,0,1
18526,18526,18527,"Barry Brewer: Chicago, I'm Home",2019,NaN,7.2,39,Comedy,0,1
22320,22320,22321,Barry,2016,NaN,5.8,66,Drama,1,0
22941,22941,22942,Todd Barry: Spicy Honey,2017,16+,6.8,41,Comedy,1,0

In [18]:
show_names = emmy.loc[emmy['nominee'].isin(movies['Title']),'nominee'].unique()
#show_names = emmy['nominee'].unique()

In [19]:
show_names.size

143

In [20]:
emmy.loc[~emmy['nominee'].isin(movies['Title']),'nominee'].unique()

array(['The Simpsons', 'Family Guy',
       'When You Wish Upon A Pickle: A Sesame Street Special', ...,
       'Louis McManus For His Original Design of the Emmy',
       'KTLA for Outstanding overall achievement in 1948',
       'Charles Mesak/Don Lee TV for Phasefader - In Recog'], dtype=object)

In [21]:
movies.loc[movies['Title'].str.contains('Family Guy', na=False)]

Empty DataFrame
Columns: [Unnamed: 0, ID, Title, Year, Rating, IMDb, Rotten Tomatoes, Genre, Netflix, Amazon Prime Video]
Index: []

In [22]:
movies_b.loc[movies_b['Title'].str.contains('Family Guy', na=False)]

Empty DataFrame
Columns: [Unnamed: 0, ID, Title, Year, Age, Rotten Tomatoes, Netflix, Hulu, Prime Video, Disney+, Type]
Index: []

In [70]:
#Checking here to see if the second movie dataset that we identified has more matches with the emmy.
#its about the same. Out of 5627 titles, there are only about 140 titles for there is a match in emmy dataset
#see below the number of titles that do not have a match with the second movie dataset
emmy.loc[~emmy['nominee'].isin(movies_b['Title']),'nominee'].unique().size

5530

In [71]:
emmy.loc[~emmy['nominee'].isin(movies['Title']),'nominee'].unique().size

5485

In [24]:
oscar.nunique(axis=0)

year_film          92
year_ceremony      92
ceremony           92
category          111
name             6666
film             4833
winner              2
dtype: int64

In [25]:
oscar.isnull().sum()

year_film          0
year_ceremony      0
ceremony           0
category           0
name               0
film             304
winner             0
dtype: int64

In [68]:
#Title mismatches (out of 4833) with the old movies dataset
oscar.loc[~oscar['film'].isin(movies['Title']),'film'].unique().size

4389

In [69]:
#Title mismatches with the new movies dataset
oscar.loc[~oscar['film'].isin(movies_b['Title']),'film'].unique().size

4285

In [27]:
#oscar.loc[oscar['film'] =='Terminator: Dark Fate']
oscar.loc[oscar['film'].str.contains('Terminator', na=False)]

,year_film,year_ceremony,ceremony,category,name,film,winner
7025,1991,1992,64,CINEMATOGRAPHY,Adam Greenberg,Terminator 2: Judgment Day,False
7050,1991,1992,64,FILM EDITING,"Conrad Buff, Mark Goldblatt, Richard A. Harris",Terminator 2: Judgment Day,False
7059,1991,1992,64,MAKEUP,"Stan Winston, Jeff Dawn",Terminator 2: Judgment Day,True
7085,1991,1992,64,SOUND,"Tom Johnson, Gary Rydstrom, Gary Summers, Lee ...",Terminator 2: Judgment Day,True
7088,1991,1992,64,SOUND EFFECTS EDITING,"Gary Rydstrom, Gloria S. Borders",Terminator 2: Judgment Day,True
7091,1991,1992,64,VISUAL EFFECTS,"Dennis Muren, Stan Winston, Gene Warren, Jr., ...",Terminator 2: Judgment Day,True

In [28]:
#problem? what does the movie database have? What does popular mean?
#movies.loc[movies['Title'] =='Terminator: Judgment Day']
movies.loc[movies['Title'].str.contains('Terminator', na=False)]

,Unnamed: 0,ID,Title,Year,Rating,IMDb,Rotten Tomatoes,Genre,Netflix,Amazon Prime Video
0,0,1,Terminator: Dark Fate,2019,18+,6.2,81,Action & Adventure,0,1

In [29]:
#performing checks on unique values. note that the title fields have duplicates
title_info.nunique(axis=0)

tconst            112356
titleType             10
primaryTitle       13151
originalTitle      12673
isAdult                4
startYear            205
endYear               76
runtimeMinutes       284
genres              1302
dtype: int64

In [30]:
title_info.isnull().sum()

tconst            0
titleType         0
primaryTitle      0
originalTitle     0
isAdult           0
startYear         0
endYear           0
runtimeMinutes    0
genres            0
dtype: int64

In [31]:
title_info.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
178,tt0000181,short,Cinderella,Cinderella,0,1898,\N,\N,"Fantasy,Short"
305,tt0000308,short,The House That Jack Built,The House That Jack Built,0,1900,\N,1,Short
359,tt0000363,short,Magical Sword,The Magic Sword,0,1901,\N,2,"Fantasy,Romance,Short"
395,tt0000399,short,Jack and the Beanstalk,Jack and the Beanstalk,0,1902,\N,10,"Fantasy,Short"
561,tt0000565,short,The Night Before Christmas,The Night Before Christmas,0,1905,\N,9,"Animation,Family,Fantasy"

In [32]:
title_info[(title_info['originalTitle'] == 'Cinderella') &(title_info['startYear'] == '1965')]
#.groupby(['titleType','startYear']).count()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
2712508,tt13154228,tvMovie,Cinderella,Cinderella,0,1965,\N,120,Musical

In [33]:
movies[movies['Title'] == 'Cinderella']

,Unnamed: 0,ID,Title,Year,Rating,IMDb,Rotten Tomatoes,Genre,Netflix,Amazon Prime Video
884,884,885,Cinderella,1965,all,7.8,57,Family,0,1

In [34]:
title_info.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112356 entries, 178 to 8541347
Data columns (total 9 columns):
tconst            112356 non-null object
titleType         112356 non-null object
primaryTitle      112356 non-null object
originalTitle     112356 non-null object
isAdult           112356 non-null object
startYear         112356 non-null object
endYear           112356 non-null object
runtimeMinutes    112356 non-null object
genres            112356 non-null object
dtypes: object(9)
memory usage: 8.6+ MB

In [35]:
#remove titles before the year 1912. Replace first \N with nan value
title_info = title_info.replace('\\N',np.NaN)
title_info.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
178,tt0000181,short,Cinderella,Cinderella,0,1898,NaN,NaN,"Fantasy,Short"
305,tt0000308,short,The House That Jack Built,The House That Jack Built,0,1900,NaN,1,Short
359,tt0000363,short,Magical Sword,The Magic Sword,0,1901,NaN,2,"Fantasy,Romance,Short"
395,tt0000399,short,Jack and the Beanstalk,Jack and the Beanstalk,0,1902,NaN,10,"Fantasy,Short"
561,tt0000565,short,The Night Before Christmas,The Night Before Christmas,0,1905,NaN,9,"Animation,Family,Fantasy"

In [36]:
#Remove entries for years less than 1912, genres that are talkshows, and titles that are short, videos and tvspecials
#also removed tvepisode since they didn't seem relevent for our analysis. 
title_info_clean = title_info[((title_info['startYear'].astype(np.float)>=1912) 
                               & (title_info['genres'].str.contains('Talk-Show') == False)
                               & (title_info['titleType'].isin(['short','video','tvShort','tvEpisode', 'tvSpecial', 'tvMiniSeries', 'videoGame']) == False)
                              )]

In [37]:
title_info_clean.titleType.unique()

array(['movie', 'tvMovie', 'tvSeries'], dtype=object)

In [38]:
movies['Year'].dtypes

dtype('int64')

In [39]:
#After removing the year, the duplicates reduced from 68716 to 50444
#but if you jus check the unique values, there are about 28470
#title_info_clean.loc[title_info_clean.originalTitle.duplicated(),['originalTitle']].originalTitle.unique().size
title_info_clean.loc[title_info_clean.originalTitle.duplicated(),['originalTitle']].originalTitle.unique

<bound method Series.unique of 2379                Oliver Twist
5859       The Prisoner of Zenda
6908                     Macbeth
7051                Oliver Twist
7360        The Three Musketeers
                   ...
8529332                 The Line
8535270               The System
8535495              Good Enough
8537956               Blown Away
8540312                 Paradise
Name: originalTitle, Length: 11590, dtype: object>

In [40]:
#I checked a couple of them and it the duplicates seem to be legitimate (Oliver Twist for example)
#The other point is that the movies database doesn't seem to be comprehesive enough. 
#also remove entries which are talk shows. 
#Strange that some of the movies are not in this file downloaded from IMDB: Along with the Gods: The Two Worlds, The First King 
#Though you can find IMDB ratings for them when you search for the movie names. 
title_info.loc[title_info['originalTitle'].str.contains('I Am Jonas', na=False)]
#title_info_clean.loc[title_info_clean['originalTitle'].str.contains('Along with the Gods: The Two Worlds', na=False)]
#title_info_clean.loc[((title_info_clean['originalTitle'].str.contains('Kill Chain', na=False)) & (title_info_clean['startYear'] == '2019'))]
#movies.loc[movies['Title'].str.contains('Oliver Twist', na=False)]

Empty DataFrame
Columns: [tconst, titleType, primaryTitle, originalTitle, isAdult, startYear, endYear, runtimeMinutes, genres]
Index: []

In [41]:
title_info[['titleType','genres']].groupby(['titleType','genres']).head()

            titleType                      genres
178             short               Fantasy,Short
305             short                       Short
359             short       Fantasy,Romance,Short
395             short               Fantasy,Short
561             short    Animation,Family,Fantasy
...               ...                         ...
8510823     tvEpisode  Drama,Game-Show,Reality-TV
8522988         short            Action,Short,War
8527924       tvShort    Documentary,Family,Short
8535898  tvMiniSeries           Documentary,Music
8537912  tvMiniSeries                 Drama,Short

[9974 rows x 2 columns]

In [42]:
movie_names = oscar.loc[oscar['film'].isin(movies['Title']),'film'].unique()

In [43]:
movie_names.size

445

In [44]:
movies['type'] = np.nan

In [45]:
#adding the type column
movies.loc[movies['Title'].isin(show_names), 'type'] = 'shows'
movies.loc[movies['Title'].isin(movie_names), 'type'] = 'movie'

In [46]:
movies.head(100)

,Unnamed: 0,ID,Title,Year,Rating,IMDb,Rotten Tomatoes,Genre,Netflix,Amazon Prime Video,type
0,0,1,Terminator: Dark Fate,2019,18+,6.2,81,Action & Adventure,0,1,NaN
1,1,2,Gemini Man,2019,13+,5.7,74,Action & Adventure,0,1,NaN
2,2,3,Rambo: Last Blood,2019,18+,6.1,72,Action & Adventure,0,1,NaN
3,3,4,The Courier,2019,18+,4.9,50,Action & Adventure,0,1,NaN
4,4,5,Crawl,2019,18+,6.1,79,Action & Adventure,0,1,NaN
5,5,6,The Kill Team,2019,18+,5.9,61,Action & Adventure,0,1,NaN
6,6,7,The Rhythm Section,2020,18+,5.3,63,Action & Adventure,0,1,NaN
7,7,8,Legionnaire's Trail,2020,18+,3.1,39,Action & Adventure,0,1,NaN
8,8,9,The Avengers,2012,13+,8.0,94,Action & Adventure,0,1,shows
9,9,10,Escape Plan: The Extractors,2019,18+,4.4,49,Action & Adventure,0,1,NaN
10,10,11,Primal,2019,18+,4.9,55,Action & Adventure,0,1,NaN
11,11,12,Danger Close,2019,18+,6.8,73,Action & Adventure,0,1,NaN
12,12,13,Kill Chain,2020,18+,5.0,47,Action & Adventure,0,1,NaN
13,13,14,Bumblebee,2018,13+,6.8,84,Action & Adventure,0,1,NaN
14,14,15,Trauma Center,2019,18+,4.4,51,Action & Adventure,0,1,NaN
15,15,16,Line of Duty,2019,18+,5.3,59,Action & Adventure,0,1,NaN
16,16,17,The Aeronauts,2019,13+,6.6,79,Action & Adventure,0,1,NaN
17,17,18,Train to Busan,2016,NaN,7.6,90,Action & Adventure,0,1,NaN
18,18,19,Assassin 33 A.D.,2020,13+,3.5,64,Action & Adventure,0,1,NaN
19,19,20,Hacker,2019,NaN,5.2,44,Action & Adventure,0,1,NaN
20,20,21,Hell on the Border,2019,18+,4.1,47,Action & Adventure,0,1,NaN
21,21,22,Mission: Impossible - Fallout,2018,13+,7.7,84,Action & Adventure,0,1,NaN
22,22,23,Yu-Gi-Oh!: The Dark Side of Dimensions,2016,7+,7.0,64,Action & Adventure,0,1,NaN
23,23,24,The First King,2019,18+,6.5,54,Action & Adventure,0,1,NaN
24,24,25,Escape Plan 2: Hades,2018,18+,3.9,49,Action & Adventure,0,1,NaN
25,25,26,The Last Sharknado: It's About Time,2018,16+,3.5,47,Action & Adventure,0,1,NaN
26,26,27,Along with the Gods: The Two Worlds,2017,7+,7.3,73,Action & Adventure,0,1,NaN
27,27,28,The Jurassic Games,2018,NaN,3.8,53,Action & Adventure,0,1,NaN
28,28,29,Overlord,2018,18+,6.6,81,Action & Adventure,0,1,NaN
29,29,30,7 Guardians of the Tomb,2018,13+,4.4,42,Action & Adventure,0,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...
70,70,71,Eames: The Architect and the Painter,2011,NaN,7.2,66,Biography,0,1,NaN
71,71,72,Swimming Upstream,2003,13+,7.1,66,Biography,0,1,NaN
72,72,73,The Private Life of Henry VIII,1933,NaN,7.1,69,Biography,0,1,movie
73,73,74,Trumbo,2007,13+,7.4,66,Biography,0,1,movie
74,74,75,Not a War Story,2017,NaN,6.6,36,Biography,0,1,NaN
75,75,76,The Image Revolution,2013,NaN,7.2,48,Biography,0,1,NaN
76,76,77,Marianne & Leonard: Words of Love,2019,18+,6.9,63,Biography,0,1,NaN
77,77,78,Candyman: The David Klein Story,2010,NaN,6.5,36,Biography,0,1,NaN
78,78,79,Showrunners: The Art of Running a TV Show,2014,NaN,6.7,58,Biography,0,1,NaN
79,79,80,Joseph Smith: Prophet of the Restoration,2005,NaN,7.8,47,Biography,0,1,NaN
80,80,81,The Devil's Violinist,2013,18+,6.1,53,Biography,0,1,NaN
81,81,82,Antarctica: A Year on Ice,2013,7+,7.6,69,Biography,0,1,NaN
82,82,83,Gascoigne,2015,13+,7.1,62,Biography,0,1,NaN
83,83,84,Facing Ali,2009,18+,8.0,58,Biography,0,1,NaN
84,84,85,The Enigma of Kaspar Hauser,1974,NaN,7.8,78,Biography,0,1,NaN
85,85,86,Pablo,2012,NaN,6.6,40,Biography,0,1,NaN
86,86,87,Armstrong,2019,NaN,6.9,65,Biography,0,1,NaN
87,87,88,Alien Origin,2012,NaN,1.9,25,Biography,0,1,NaN
88,88,89,Becoming Astrid,2018,NaN,7.1,72,Biography,0,1,NaN
89,89,90,Altman,2014,7+,6.8,63,Biography,0,1,NaN
90,90,91,Sacco & Vanzetti,1971,NaN,7.8,65,Biography,0,1,NaN
91,91,92,The Trials of Muhammad Ali,2013,NaN,7.3,66,Biography,0,1,NaN
92,92,93,King: Man of Peace in a Time of War,2007,NaN,6.6,34,Biography,0,1,NaN
93,93,94,Gordon Lightfoot: If You Could Read My Mind,2019,NaN,7.7,51,Biography,0,1,NaN
94,94,95,Song of Granite,2017,NaN,6.6,54,Biography,0,1,NaN
95,95,96,Scott Walker: 30 Century Man,2007,all,7.2,62,Biography,0,1,NaN
96,96,97,The Real Bruce Lee,1977,NaN,4.7,38,Biography,0,1,NaN
97,97,98,Drew: The Man Behind the Poster,2013,NaN,7.5,59,Biography,0,1,NaN
98,98,99,Lauda: The Untold Story,2015,NaN,6.4,41,Biography,0,1,NaN
99,99,100,Pantani: The Accidental Death of a Cyclist,2014,7+,7.0,63,Biography,0,1,NaN

In [47]:
movie_names_null = movies.loc[movies['type'].isnull(),'Title']

In [48]:
#since there are duplicate movie names with some being movies and other shows. Take the example of Oliver Twist above. 
#To exactly match the type, we also need to match the year of the movie/shows

title_info_clean_small = title_info_clean[['titleType','originalTitle','startYear']]
title_info_clean_small = title_info_clean_small[title_info_clean_small['originalTitle'].isin(movie_names_null)]
title_info_clean_small = title_info_clean_small.drop_duplicates(
  subset = ['originalTitle', 'startYear','titleType']).reset_index(drop = True)
title_info_clean_small = title_info_clean_small.rename(columns={"originalTitle": "Title","titleType":"type","startYear":"Year"})

In [49]:
title= 'Terminator: Dark Fate'
year = 2019
title_info_clean.loc[((title_info_clean['originalTitle']== title) & (title_info_clean['startYear'].astype(int) == year)),'titleType']

6951218    movie
Name: titleType, dtype: object

In [50]:
title= 'Danger Close'
year = 2019

stype = title_info_clean_small.loc[((title_info_clean_small['Title']== title) & (title_info_clean_small['Year'].astype(int) == year)),'type']
#stype = title_info_clean.loc[((title_info_clean['originalTitle']== title) & (title_info_clean['startYear'] == year)),'titleType']
# stype = type_amazon.loc[((type_amazon['title']== title) & (type_amazon['release_year'].astype(int) == year)),'type']
# print(stype)
if(stype.empty == False):
    print(stype.values.size)
    print(title + ": count -" + str(stype.values.size) + str(stype.values[0]))
elif((type_amazon.loc[((type_amazon['title']== title) & (type_amazon['release_year'].astype(int) == year)),'type']).empty == False):
    stype = type_amazon.loc[((type_amazon['title']== title)),'type']
    print(stype.values[0].lower())
elif((type_netflix.loc[((type_netflix['title']== title) & (type_netflix['release_year'].astype(int) == year)),'type']).empty == False):
    stype = type_netflix.loc[((type_netflix['title']== title)),'type']
    print(stype.values[0])
else:
     print("no value")

movie

In [51]:
#movies["Type"]
def get_type(title, year,oldtype):
    stype = title_info_clean_small.loc[((title_info_clean_small['Title']== title) & (title_info_clean_small['Year'].astype(int) == year)),'type']
    #print(title)
    #print(year)
    val =""
    if(stype.empty == False):
        #if(stype.values.size > 1):
            #print(title + " " + str(year) + ": count -" + str(stype.values.size))
        val = stype.values[0]
    #not matching years for the below as in some cases there are year mismatches
    elif((type_amazon.loc[((type_amazon['title']== title)),'type']).empty == False):
        stype = type_amazon.loc[((type_amazon['title']== title)),'type']
        val= stype.values[0].lower()
    elif((type_netflix.loc[((type_netflix['title']== title)),'type']).empty == False):
        stype = type_netflix.loc[((type_netflix['title']== title)),'type']
        val = stype.values[0].lower()
    else:
        val = oldtype
    if(val == 'tv show'):
        val = "shows"
    return val
movies['type']= movies.apply(lambda x: get_type(x.Title, x.Year, x.type), axis=1)

In [52]:
#prior to mapping with IMDB database, the null type values were 23687
movies.isnull().sum()

Unnamed: 0                0
ID                        0
Title                     0
Year                      0
Rating                14635
IMDb                    420
Rotten Tomatoes           0
Genre                     0
Netflix                   0
Amazon Prime Video        0
type                   6012
dtype: int64

In [53]:
#271304
movies.size

271304

In [54]:
#These movie don't seem to be a match in any of the other files. 
movies[movies['type'].isnull() == True]

,Unnamed: 0,ID,Title,Year,Rating,IMDb,Rotten Tomatoes,Genre,Netflix,Amazon Prime Video,type
23,23,24,The First King,2019,18+,6.5,54,Action & Adventure,0,1,NaN
26,26,27,Along with the Gods: The Two Worlds,2017,7+,7.3,73,Action & Adventure,0,1,NaN
33,33,34,Asterix the Gaul,1967,all,6.6,53,Animation,0,1,NaN
34,34,35,SlugTerra: Return of the Elementals,2014,7+,6.4,48,Animation,0,1,NaN
35,35,36,Ooops! Noah is Gone...,2015,all,5.8,57,Animation,0,1,NaN
38,38,39,The Stolen Princess: Ruslan and Ludmila,2018,NaN,6.1,56,Animation,0,1,NaN
40,40,41,Donkey X,2007,7+,4.6,32,Animation,0,1,NaN
47,47,48,Top Cat Begins,2015,7+,4.2,38,Animation,0,1,NaN
57,57,58,Flight of the Butterflies,2012,all,7.0,66,Biography,0,1,NaN
60,60,61,The King's Choice,2016,NaN,7.1,75,Biography,0,1,NaN
62,62,63,The Brothers Warner,2009,NaN,7.3,43,Biography,0,1,NaN
63,63,64,More than a Game,2008,7+,7.6,72,Biography,0,1,NaN
65,65,66,Nina Conti: Her Master's Voice,2012,13+,7.5,49,Biography,0,1,NaN
70,70,71,Eames: The Architect and the Painter,2011,NaN,7.2,66,Biography,0,1,NaN
75,75,76,The Image Revolution,2013,NaN,7.2,48,Biography,0,1,NaN
77,77,78,Candyman: The David Klein Story,2010,NaN,6.5,36,Biography,0,1,NaN
84,84,85,The Enigma of Kaspar Hauser,1974,NaN,7.8,78,Biography,0,1,NaN
87,87,88,Alien Origin,2012,NaN,1.9,25,Biography,0,1,NaN
88,88,89,Becoming Astrid,2018,NaN,7.1,72,Biography,0,1,NaN
90,90,91,Sacco & Vanzetti,1971,NaN,7.8,65,Biography,0,1,NaN
92,92,93,King: Man of Peace in a Time of War,2007,NaN,6.6,34,Biography,0,1,NaN
95,95,96,Scott Walker: 30 Century Man,2007,all,7.2,62,Biography,0,1,NaN
98,98,99,Lauda: The Untold Story,2015,NaN,6.4,41,Biography,0,1,NaN
102,102,103,The Maestro,2020,NaN,5.8,40,Biography,0,1,NaN
103,103,104,The Bit Player,2019,NaN,7.3,46,Biography,0,1,NaN
110,110,111,The Stolen Princess: Ruslan and Ludmila,2018,NaN,6.1,56,Comedy,0,1,NaN
162,162,163,Buffed Up,2016,NaN,NaN,39,Crime,0,1,NaN
178,178,179,So Close,2002,18+,6.7,69,Crime,0,1,NaN
181,181,182,Los Olvidados,1950,NaN,8.3,67,Crime,0,1,NaN
182,182,183,Tell No One,2006,NaN,7.5,83,Crime,0,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...
24407,24407,24408,"Isa Pa, with Feelings",2019,NaN,7.7,48,Drama,1,0,NaN
24412,24412,24413,Made In China,2019,NaN,6.2,54,Drama,1,0,NaN
24414,24414,24415,She's The One,2013,NaN,6.5,38,Drama,1,0,NaN
24424,24424,24425,El Dealer,2010,NaN,5.7,40,Drama,1,0,NaN
24425,24425,24426,Bangkok Hell: Nor Chor - The Prisoners,2002,NaN,5.5,36,Drama,1,0,NaN
24428,24428,24429,The Christmas Trap,2017,7+,5.5,39,Drama,1,0,NaN
24430,24430,24431,Surga yang Tak Dirindukan,2015,NaN,7.8,48,Drama,1,0,NaN
24432,24432,24433,The Thief and the Fool,2013,NaN,5.1,31,Drama,1,0,NaN
24453,24453,24454,SuckSeed,2011,13+,7.5,47,Comedy,1,0,NaN
24456,24456,24457,The Big Christmas,2020,NaN,6.4,41,Comedy,1,0,NaN
24460,24460,24461,A Very Special Drew,2000,NaN,8.0,41,Comedy,1,0,NaN
24472,24472,24473,The beauty of Rouh,2014,NaN,3.5,42,Drama,1,0,NaN
24476,24476,24477,Brij Mohan Amar Rahe!,2018,NaN,6.8,47,Drama,1,0,NaN
24477,24477,24478,B. A. Pass 2,2017,NaN,2.1,39,Drama,1,0,NaN
24489,24489,24490,Silence Is Welcome,2017,NaN,4.6,28,Drama,1,0,NaN
24508,24508,24509,The True Meaning of Christmas Togetherness Fun...,2020,NaN,5.4,41,Comedy,1,0,NaN
24514,24514,24515,Mumbai's King,2012,NaN,6.4,37,Drama,1,0,NaN
24517,24517,24518,Wahed Sahih,2012,NaN,6.2,37,Drama,1,0,NaN
24523,24523,24524,Sur,2002,NaN,6.5,40,Drama,1,0,NaN
24528,24528,24529,The Heaven None Missed 2,2017,NaN,7.1,42,Drama,1,0,NaN
24561,24561,24562,Question Mark,2011,NaN,7.1,45,Drama,1,0,NaN
24567,24567,24568,The Fourth Direction,2015,NaN,6.5,40,Drama,1,0,NaN
24572,24572,24573,Dhoondte Reh Jaaoge,2009,7+,5.6,33,Drama,1,0,NaN
24574,24574,24575,La Pena Máxima,2001,NaN,6.8,43,Drama,1,0,NaN
24588,24588,24589,Sethum Aayiram Pon,2019,all,7.2,41,Drama,1,0,NaN
24609,24609,24610,Sometimes it rains,2016,NaN,NaN,13,Drama,1,0,NaN
24637,24637,24638,Kaviyude Osyathu,2017,NaN,3.8,25,Drama,1,0,NaN
24640,24640,24641,Beirut oh Beirut,1975,NaN,6.7,38,Drama,1,0,NaN
24660,24660,24661,I Am Jonas,2018,NaN,7.0,52,Drama,1,0,NaN
24663,24663,24664,A Very Special Drew,2000,NaN,8.0,41,Drama,1,0,NaN

In [55]:
#don't think there needs to be a distinction between movie and TV movie, so setting all tvmovie to movie
movies[movies['type'] == "tvMovie"]

,Unnamed: 0,ID,Title,Year,Rating,IMDb,Rotten Tomatoes,Genre,Netflix,Amazon Prime Video,type
25,25,26,The Last Sharknado: It's About Time,2018,16+,3.5,47,Action & Adventure,0,1,tvMovie
146,146,147,Python,2000,18+,3.7,31,Comedy,0,1,tvMovie
154,154,155,An Inspector Calls,2015,7+,7.7,66,Crime,0,1,tvMovie
224,224,225,Monsterwolf,2010,18+,3.6,32,Documentary,0,1,tvMovie
291,291,292,Stalked by My Neighbor,2015,16+,5.2,40,Drama,0,1,tvMovie
301,301,302,Menace from Outer Space,1956,NaN,3.7,34,Family,0,1,tvMovie
315,315,316,The Rooftop Christmas Tree,2016,all,6.2,41,Family,0,1,tvMovie
329,329,330,Out There,1995,13+,5.5,42,Family,0,1,tvMovie
340,340,341,Witch's Night Out,1978,NaN,7.5,48,Fantasy,0,1,tvMovie
354,354,355,Little Spirit: Christmas in New York,2008,all,5.0,36,Fantasy,0,1,tvMovie
390,390,391,The 50 Best Horror Movies You've Never Seen,2014,NaN,6.2,44,Horror,0,1,tvMovie
448,448,449,Taken Too Far,2017,16+,4.7,32,Mystery,0,1,tvMovie
449,449,450,Forbidden Secrets,2005,16+,4.9,27,Mystery,0,1,tvMovie
453,453,454,Thrill of the Kill,2006,NaN,4.9,31,Mystery,0,1,tvMovie
456,456,457,Pretend You Don't See Her,2002,13+,5.6,44,Mystery,0,1,tvMovie
464,464,465,Beastly Boyz,2006,18+,2.9,23,Mystery,0,1,tvMovie
538,538,539,Legacy of Fear,2006,16+,5.3,38,Thriller,0,1,tvMovie
543,543,544,Out of Control,2009,16+,4.9,33,Thriller,0,1,tvMovie
555,555,556,Time of Death,2013,NaN,5.9,42,Thriller,0,1,tvMovie
577,577,578,Playdate,2012,18+,4.5,44,Thriller,0,1,tvMovie
579,579,580,Hidden Away,2013,16+,4.9,38,Thriller,0,1,tvMovie
594,594,595,Megalodon,2018,13+,2.9,40,Action & Adventure,0,1,tvMovie
739,739,740,Burn Notice: The Fall of Sam Axe,2011,7+,7.2,71,Crime,0,1,tvMovie
815,815,816,The Life After Death Project,2013,NaN,7.4,40,Documentary,0,1,tvMovie
857,857,858,The Spirit of Christmas,2015,NaN,6.5,56,Drama,0,1,tvMovie
875,875,876,An Angel for May,2002,NaN,7.1,49,Family,0,1,tvMovie
879,879,880,My Dad's a Soccer Mom,2014,7+,5.2,40,Family,0,1,tvMovie
893,893,894,Boonie Bears: Homeward Journey,2013,NaN,5.6,33,Family,0,1,tvMovie
912,912,913,Is Anybody Out There?,2015,NaN,7.3,34,Fantasy,0,1,tvMovie
925,925,926,Merlin and the Dragons,1991,NaN,6.4,39,Fantasy,0,1,tvMovie
...,...,...,...,...,...,...,...,...,...,...,...
23004,23004,23005,A Triumph of the Heart: The Ricky Bell Story,1991,NaN,7.4,43,Drama,1,0,tvMovie
23008,23008,23009,Black,2015,NaN,7.1,59,Action & Adventure,1,0,tvMovie
23047,23047,23048,"Frankenstein's Monster's Monster, Frankenstein",2019,16+,5.9,62,Comedy,1,0,tvMovie
23097,23097,23098,Black,2015,NaN,7.1,59,Drama,1,0,tvMovie
23121,23121,23122,Ninjago: Masters of Spinjitzu - Day of the Dep...,2016,NaN,7.0,50,Action & Adventure,1,0,tvMovie
23132,23132,23133,Legends of the Hidden Temple,2016,7+,5.8,48,Action & Adventure,1,0,tvMovie
23176,23176,23177,Christmas Catch,2018,7+,5.4,40,Comedy,1,0,tvMovie
23184,23184,23185,Sister Cities,2016,16+,6.8,52,Drama,1,0,tvMovie
23196,23196,23197,The George McKenna Story,1986,NaN,6.1,47,Drama,1,0,tvMovie
23423,23423,23424,Ghost Patrol,2016,NaN,4.9,37,Action & Adventure,1,0,tvMovie
23465,23465,23466,Trailer Park Boys: Live at the North Pole,2014,NaN,6.3,43,Comedy,1,0,tvMovie
23479,23479,23480,"Liar, Liar, Vampire",2015,all,5.8,46,Comedy,1,0,tvMovie
23535,23535,23536,Strange Voices,1987,NaN,6.4,40,Drama,1,0,tvMovie
23625,23625,23626,The Ryan White Story,1989,NaN,7.3,43,Drama,1,0,tvMovie
23644,23644,23645,Quiet Victory: The Charlie Wedemeyer Story,1988,NaN,7.3,36,Drama,1,0,tvMovie
23647,23647,23648,Nightmare in Columbia County,1991,NaN,5.8,40,Drama,1,0,tvMovie
23706,23706,23707,Omar & Salma 2,2009,NaN,4.8,43,Comedy,1,0,tvMovie
23737,23737,23738,Unspeakable Acts,1990,NaN,6.3,43,Drama,1,0,tvMovie
23780,23780,23781,Power Rangers: Megaforce: Raising Spirits,2013,7+,5.9,37,Action & Adventure,1,0,tvMovie
23835,23835,23836,A Stoning in Fulham County,1988,NaN,5.7,40,Drama,1,0,tvMovie
23845,23845,23846,In Defense of a Married Man,1990,NaN,5.6,38,Drama,1,0,tvMovie
23886,23886,23887,A Family Reunion Christmas,2019,NaN,5.6,43,Comedy,1,0,tvMovie
24031,24031,24032,The Massively Mixed-Up Middle School Mystery,2015,NaN,7.3,41,Comedy,1,0,tvMovie
24118,24118,24119,Sarajevo,2014,NaN,6.7,50,Drama,1,0,tvMovie
24175,24175,24176,Bye Bye London,1982,NaN,9.0,49,Comedy,1,0,tvMovie
24186,24186,24187,The Laundromat,1985,18+,7.5,45,Comedy,1,0,tvMovie
24364,24364,24365,Rabun,2003,NaN,8.0,40,Drama,1,0,tvMovie
24439,24439,24440,Bye Bye London,1982,NaN,9.0,49,Drama,1,0,tvMovie
24474,24474,24475,The Laundromat,1985,18+,7.5,45,Drama,1,0,tvMovie
24498,24498,24499,Adam: His Song Continues,1986,NaN,7.2,40,Drama,1,0,tvMovie

In [56]:
movies['type'].loc[(movies['type'] == "tvMovie")]= 'movie'
movies['type'].loc[(movies['type'] == "tvSeries")]= 'shows'

In [57]:
movies.type.unique()

array(['movie', 'shows', nan], dtype=object)

In [58]:
movies[movies['Amazon Prime Video']==1].groupby(['Amazon Prime Video','type']).agg('count')

                          Unnamed: 0     ID  Title   Year  Rating   IMDb  \
Amazon Prime Video type
1                  movie       14857  14857  14857  14857    6052  14695
                   shows         236    236    236    236     105    230

                          Rotten Tomatoes  Genre  Netflix
Amazon Prime Video type
1                  movie            14857  14857    14857
                   shows              236    236      236

In [59]:
movies[movies['Netflix']==1].groupby(['Netflix','type']).agg('count')

               Unnamed: 0    ID  Title  Year  Rating  IMDb  Rotten Tomatoes  \
Netflix type
1       movie        3516  3516   3516  3516    1758  3478             3516
        shows          43    43     43    43      20    41               43

               Genre  Amazon Prime Video
Netflix type
1       movie   3516                3516
        shows     43                  43

In [60]:
movies_b.nunique(axis=0)

Unnamed: 0         9515
ID                 9515
Title              9515
Year                103
Age                   5
Rotten Tomatoes      85
Netflix               2
Hulu                  2
Prime Video           2
Disney+               2
Type                  1
dtype: int64

In [61]:
movies_b.head()

,Unnamed: 0,ID,Title,Year,Age,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,0,1,The Irishman,2019,18+,98/100,1,0,0,0,0
1,1,2,Dangal,2016,7+,97/100,1,0,0,0,0
2,2,3,David Attenborough: A Life on Our Planet,2020,7+,95/100,1,0,0,0,0
3,3,4,Lagaan: Once Upon a Time in India,2001,7+,94/100,1,0,0,0,0
4,4,5,Roma,2018,18+,94/100,1,0,0,0,0

In [62]:
movies_b.groupby(['Netflix','Prime Video']).agg('count')

                     Unnamed: 0    ID  Title  Year   Age  Rotten Tomatoes  \
Netflix Prime Video
0       0                  1816  1816   1816  1816  1341             1816
        1                  4004  4004   4004  4004  2099             4004
1       0                  3586  3586   3586  3586  1832             3579
        1                   109   109    109   109    66              109

                     Hulu  Disney+  Type
Netflix Prime Video
0       0            1816     1816  1816
        1            4004     4004  4004
1       0            3586     3586  3586
        1             109      109   109

In [63]:
movies_b.Year.unique()

array([2019, 2016, 2020, 2001, 2018, 2017, 2004, 2014, 2015, 2006, 1991,
       2012, 2010, 2011, 2013, 2005, 1998, 2002, 2009, 1971, 2003, 2007,
       1975, 1988, 2008, 1974, 1979, 1997, 1990, 2021, 1984, 2000, 1993,
       1994, 1999, 1976, 1964, 1954, 1982, 1986, 1992, 1995, 1987, 1989,
       1980, 1996, 1958, 1981, 1977, 1983, 1970, 1963, 1985, 1972, 1962,
       1966, 1956, 1969, 1973, 1960, 1959, 1978, 1968, 1940, 1941, 1965,
       1923, 1950, 1953, 1957, 1955, 1946, 1936, 1952, 1967, 1935, 1951,
       1925, 1947, 1945, 1948, 1939, 1942, 1932, 1937, 1919, 1949, 1934,
       1931, 1922, 1927, 1933, 1920, 1961, 1944, 1943, 1915, 1929, 1938,
       1914, 1930, 1928, 1916])

In [64]:
#Titles that are not in the the first movie dataset
movies_b.loc[~movies_b['Title'].isin(movies['Title'])]

,Unnamed: 0,ID,Title,Year,Age,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,0,1,The Irishman,2019,18+,98/100,1,0,0,0,0
2,2,3,David Attenborough: A Life on Our Planet,2020,7+,95/100,1,0,0,0,0
5,5,6,To All the Boys I've Loved Before,2018,13+,94/100,1,0,0,0,0
6,6,7,The Social Dilemma,2020,13+,93/100,1,0,0,0,0
8,8,9,The Ballad of Buster Scruggs,2018,16+,92/100,1,0,0,0,0
9,9,10,The Trial of the Chicago 7,2020,18+,92/100,1,0,0,0,0
12,12,13,Dolemite Is My Name,2019,18+,92/100,1,0,0,0,0
15,15,16,Fyre,2019,18+,91/100,1,0,0,0,0
16,16,17,Miss Americana,2020,18+,90/100,1,0,0,0,0
17,17,18,Virunga,2014,16+,90/100,1,0,0,0,0
19,19,20,Talvar,2015,7+,90/100,1,0,0,0,0
20,20,21,The King,2019,18+,90/100,1,0,0,0,0
22,22,23,I Am Mother,2019,13+,89/100,1,0,0,0,0
24,24,25,The Departed,2006,18+,89/100,1,0,0,0,0
25,25,26,Winter on Fire: Ukraine's Fight for Freedom,2015,16+,89/100,1,0,0,0,0
26,26,27,Terminator 2: Judgment Day,1991,18+,89/100,1,0,0,0,0
28,28,29,Django Unchained,2012,18+,89/100,1,0,0,0,0
29,29,30,The Half of It,2020,13+,89/100,1,0,0,0,0
30,30,31,The Boy Who Harnessed the Wind,2019,7+,89/100,1,0,0,0,0
31,31,32,The Devil All the Time,2020,18+,89/100,1,0,0,0,0
33,33,34,Pieces of a Woman,2020,18+,88/100,1,0,0,0,0
34,34,35,Gerald's Game,2017,18+,88/100,1,0,0,0,0
36,36,37,Shutter Island,2010,18+,88/100,1,0,0,0,0
38,38,39,The Intouchables,2011,7+,88/100,1,0,0,0,0
41,41,42,Kiss the Ground,2020,18+,87/100,1,0,0,0,0
42,42,43,Crip Camp: A Disability Revolution,2020,18+,87/100,1,0,0,0,0
44,44,45,No Direction Home: Bob Dylan,2005,all,87/100,1,0,0,0,0
46,46,47,His House,2020,16+,87/100,1,0,0,0,0
51,51,52,The Big Lebowski,1998,18+,87/100,1,0,0,0,0
52,52,53,Pad Man,2018,13+,87/100,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
9485,9485,9486,Disney My Music Story: Perfume,2020,NaN,37/100,0,0,0,1,0
9486,9486,9487,Shanghai Disney Resort Grand Opening Special,2016,NaN,35/100,0,0,0,1,0
9487,9487,9488,Shark vs. Whale,2020,7+,35/100,0,0,0,1,0
9488,9488,9489,Shark Attack Investigation: The Paige Winter S...,2020,13+,35/100,0,0,0,1,0
9489,9489,9490,Disney Holiday Magic Quest,2020,NaN,35/100,0,0,0,1,0
9490,9490,9491,India's Wild Leopards,2020,NaN,35/100,0,0,0,1,0
9491,9491,9492,Journey to Shark Eden,2009,NaN,35/100,0,0,0,1,0
9492,9492,9493,Man Among Cheetahs,2017,NaN,35/100,0,0,0,1,0
9493,9493,9494,Big Sharks Rule,2018,7+,35/100,0,0,0,1,0
9494,9494,9495,Sultan And The Rock Star,1980,all,34/100,0,0,0,1,0
9495,9495,9496,My Music Story: Yoshiki,2021,16+,33/100,0,0,0,1,0
9496,9496,9497,Disney Channel Halloween House Party,2020,NaN,33/100,0,0,0,1,0
9497,9497,9498,Earth Live,2017,NaN,33/100,0,0,0,1,0
9498,9498,9499,World's Greatest Dogs,2015,NaN,33/100,0,0,0,1,0
9499,9499,9500,Wild Uganda,2018,7+,32/100,0,0,0,1,0
9500,9500,9501,Challenge Accepted! Disney Channel's Epic Holi...,2020,NaN,32/100,0,0,0,1,0
9501,9501,9502,Sharks of the Bermuda Triangle,2020,NaN,31/100,0,0,0,1,0
9502,9502,9503,Sharkcano,2020,NaN,16/100,0,0,0,1,0
9503,9503,9504,Disney My Music Story: Sukima Switch,2021,16+,16/100,0,0,0,1,0
9504,9504,9505,Big Cat Games,2015,NaN,15/100,0,0,0,1,0
9505,9505,9506,Great Shark Chow Down,2019,7+,14/100,0,0,0,1,0
9506,9506,9507,In Beaver Valley,1950,NaN,14/100,0,0,0,1,0
9507,9507,9508,Texas Storm Squad,2020,13+,14/100,0,0,0,1,0
9508,9508,9509,What the Shark?,2020,13+,14/100,0,0,0,1,0
9509,9509,9510,Built for Mars: The Perseverance Rover,2021,NaN,14/100,0,0,0,1,0
9510,9510,9511,Most Wanted Sharks,2020,NaN,14/100,0,0,0,1,0
9511,9511,9512,Doc McStuffins: The Doc Is In,2020,NaN,13/100,0,0,0,1,0
9512,9512,9513,Ultimate Viking Sword,2019,NaN,13/100,0,0,0,1,0
9513,9513,9514,Hunt for the Abominable Snowman,2011,NaN,10/100,0,0,0,1,0
9514,9514,9515,Women of Impact: Changing the World,2019,7+,10/100,0,0,0,1,0

In [65]:
#Next steps
#Movies master database: Fill gaps in Type, Rating; nominated (boolean)/ no.of nominations/ no. of winners
#Oscar and the emmy: 
### number of awards won for each show/movie; 
#? prep for analysis
#sub dataframes or files (aggregtes over time - production year and the years in award files)